.nav {
    color: #fff;
    position: relative;
    z-index: 999;
    white-space: nowrap;
    display: grid;
    align-content: flex-start;
    animation: fadeIn 1s 1500ms both;
}

.nav svg {
    fill: #fff;
}

.menuCont {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.splitCont {
    display: flex;
}

.menuItem {
    position: relative;
}

.chevronCont {
    border: 2px solid transparent
}

.chevronCont:hover {
    border-bottom: 2px solid var(--primaryColor)
}


.subMenuCont {
    position: absolute;
    background-color: #000;
}

.subMenuItem {
    padding: 1rem;
    transition: filter 400ms;
    border: 2px solid transparent
}

.subMenuItem:hover {
    filter: brightness(.6);
    border-bottom: 2px solid var(--primaryColor)
}



@media only screen and (max-width: 1000px) {
    .menuCont {
        display: grid;
        position: relative;
        max-height: 80vh;
        overflow-y: auto;
        gap: 0
    }

    .splitCont {
        display: grid;
    }

    .subMenuCont {
        position: relative;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}