@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #e0a90e;
  --secondaryColor: orange;
  --tertiaryColor: #333;
  --backgroundColor: #232323;
  --fadedColor: #565656;
  --lightFadedColor: #707070;
  --lighterFadedColor: #eee;
  --h1FontSize: 2rem;
  --h2FontSize: 1.2rem;
  --smallFontSize: .7rem;
}

@media only screen and (max-width: 600px) {
  :root {
    --h1FontSize: 2rem;
    --h2FontSize: 1.1rem;
    --smallFontSize: .6rem;
  }
}

*,
*::before,
*::after {
  border: 1px solid red !important;
}


/* elements */
body {
  color: #fff
}

.clearSvg {
  all: unset;

}

.clearSvg:hover {
  all: unset;

}

svg {
  width: 1rem;
  aspect-ratio: 1/1;
  fill: #000;
  transition: fill 600ms, scale 600ms, rotate 400ms;
}


svg:hover {
  scale: 1.1;
}

.highlight {
  color: var(--secondaryColor);
  fill: var(--secondaryColor);
}

h1 {
  font-size: var(--h1FontSize);
  font-weight: 300;
}

h2 {
  font-size: var(--h2FontSize);
  font-family: JuliusSansOne;
}

h3 {
  font-weight: bold;
}

p {
  line-height: 29px;
  font-weight: 300;
}



section {
  padding: 2rem 1rem;
}

input,
textarea {
  padding: 1rem;
  background-color: var(--lighterFadedColor);
  border-radius: .2rem;
  border: 2px solid #ddd;
}

input:focus,
textarea:focus {
  background-color: #fff;
  outline: none;
}


*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.noScrollBar::-webkit-scrollbar {
  display: none;
}


/* custom classes */
.hoverHighlight {
  cursor: pointer;
  filter: brightness(.6);
  transition: 1s;
}

.hoverHighlight:hover {
  filter: none;
}

.snap {
  scroll-snap-type: x mandatory;
}

.snap>* {
  scroll-snap-align: start;
}