@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: gold;
  --secondaryColor: orange;
  --backgroundColor: #2d2d2d;
  --fadedColor: #565656;
}

*,
*::before,
*::after {
  /* border: 1px solid red !important; */
}

svg {
  width: 1rem;
  aspect-ratio: 1/1;
  fill: #fff;
  transition: fill 600ms, scale 600ms, rotate 400ms;
}

svg:hover {
  fill: #fff;
  scale: 1.1;
}

.highlight {
  color: var(--secondaryColor);
  fill: var(--secondaryColor);
}