.mainCont svg {
    width: 2.5rem;
    fill: #fff;
    margin: 0 auto;
}

.mainCont>div:last-of-type {
    padding: 1rem;
}

.tabCont {
    padding: 1rem;
    background-color: #000;
    transition: background-color 400ms;
    cursor: pointer;
}

.tabCont:hover {
    background-color: #222;
}